@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.topo {
    height: 30px;
    background-color: #333;
    color: white;
}

.topoint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topoleft {
    width: 50%;
    height: 30px;
    float: left;
}

.topoleft ul {
    list-style: none;
    display: flex;
    height: 30px;
    line-height: 30px;
}

.topoleft li {
    margin: 0 8px;
}

.topoleft li a {
    text-decoration: none;
    color: white;
}

.topoleft li .ativo {
    color: blue;
}

.toporight {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}

.toporight a {
    float: right;
}

.toporight input {
    float: right;
}

.topo-busca {
    width: 110px;
    height: 26px;
    outline: 0;
}

.search-button {
    width: 15px;
    height: 15px;
    background-color: red;
    margin-top: 1px;
    padding: 4px;
    border-radius: 3px;
}

.topo2 {
    height: 95px;
    color: white;
}

.topo2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    width: 230px;
    height: 75px;
    float: left;
    margin-top: 15px;
}

.topo2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin: 7.5px 0;
    background-color: red;
}

.banner p {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    padding-top: 10px;
}

.menu {
    height: 40px;
    background-color: red;
}

.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu li {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.menu li:hover .submenu {
    display: block;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.submenu {
    width: 150px;
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid rgba(255, 0, 0, 0.13);
    border-top: 0;
}

.submenu-item {
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: red;
    padding: 2px;
    margin-left: 3px;
}

.submenu-item:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}