@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.topo {
    height: 30px;
    background-color: #333;
    color: white;
}

.topoint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topoleft {
    width: 50%;
    height: 30px;
    float: left;
}

.topoleft ul {
    list-style: none;
    display: flex;
    height: 30px;
    line-height: 30px;
}

.topoleft li {
    margin: 0 8px;
}

.topoleft li a {
    text-decoration: none;
    color: white;
}

.topoleft li .ativo {
    color: blue;
}

.toporight {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}

.toporight a {
    float: right;
}

.toporight input {
    float: right;
}

.topo-busca {
    width: 110px;
    height: 26px;
    outline: 0;
}

.search-button {
    width: 15px;
    height: 15px;
    background-color: red;
    margin-top: 1px;
    padding: 4px;
    border-radius: 3px;
}

.topo2 {
    height: 95px;
    color: white;
}

.topo2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    width: 230px;
    height: 75px;
    float: left;
    margin-top: 15px;
}

.topo2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin: 7.5px 0;
    background-color: red;
}

.banner p {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    padding-top: 10px;
}

.menu {
    height: 40px;
    background-color: red;
}

.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu li {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.menu li:hover .submenu {
    display: block;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.submenu {
    width: 150px;
    background-color: white;
    position: absolute;
    display: none;
    border: 1px solid rgba(255, 0, 0, 0.13);
    border-top: 0;
}

.submenu-item {
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: red;
    padding: 2px;
    margin-left: 3px;
}

.submenu-item:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}

.ultimas-noticias {
    height: 40px;
}

.ultimas-noticias-int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ultimas-noticias-area {
    height: 28px;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: 10px;
}

.ultimas-noticias-titulo {
    background-color: red;
    color: white;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    display: inline-block;
    font-size: 16px;
}

.ultimas-noticias-noticia {
    color: rgb(102, 102, 102);
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    display: inline-block;
}

.container-int {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    background-color: #999;
}

.leftside {
    width: 753px;
    float: left;
}

.rightside {
    width: 275px;
    float: right;
    min-height: 200px;
    margin-left: 12px;
}

.widget {
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}

.widget-titulo {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: #DDD;
    color: rgb(133, 133, 133);
    border-bottom: 1px solid #CCC;
}

.widget-conteudo {
    text-align: center;
    padding: 5px 0;
}

.noticia-item {
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 0;
    text-align: left;
    color: rgb(78, 78, 78);
    border-bottom: 1px solid #CCC;
}

.noticia-item a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

.slideshow {
    height: 335px;
    background-color: #CCC;
    overflow: hidden;
    margin-bottom: 20px;
}

.slideshow-area {
    width: 100000px;
    height: 335px;
    transition: all 0.7s;
}

.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-info {
    height: 70px;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.747), rgba(128, 128, 128, 0.616), rgba(255, 255, 255, 0.5));
    background-size: auto 70px;
    margin-top: 265px;
}

.slide-info-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    padding-top: 10px;
    padding-left: 20px;
}

.slide-info-subtitulo {
    font-size: 14px;
    color: #FFF;
    padding-left: 20px;
}

.slidebolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
}

.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    background-color: #999;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.bolinha:active, .bolinha:hover {
    background-color: red;
}

.noticia-area-1 {
    width: 430px;
    height: auto;
    float: left;
}

.noticia-area-2 {
    width: 320px;
    height: auto;
    float: left;
    margin-top: 10px;
}

.noticiaitem {
    text-align: left;
    height: 88px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
}

.noticia-img {
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}

.noticia-titulo {
    margin-left: 6px;
    font-size: 16px;
    float: left;
    width: 210px;
}

.noticia-info {
    float: left;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 5px;
    color: #CCC;
    width: 210px;
}

.noticiabig {
    margin-left: 10px;
    margin-top: 10px;
}

.noticiabig .noticia-img {
    width: 384px;
    height: auto;
    border: 1px solid #CCC;
}

.noticiabig .noticia-img img {
    width: 384px;
    height: auto;
}

.noticiabig .noticia-titulo {
    width: 384px;
    font-size: 30px;
    margin-top: 10px;
}

.noticiabig .noticia-info p {
    width: 384px;
    height: auto;
    color: #333;
}